@import "app/sass/reset";
.tami{
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 50px 20px 0 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.418);
    cursor: pointer;

    h2{
        margin-bottom: 20px;
    }
}
.tami-active{
    border: 1px solid rgba(102, 252, 2, 0.8);
}
.tami-active{
    border: 1px solid rgba(102, 252, 2, 1);
}
.tami:hover{
    

}
.emoji{
    font-size: 70px;
    margin-bottom: 2rem; 
}
#timer{
    display: block;
    margin: 0 auto;
    color: red; 
}
.indicators{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    li{
        display: inline-block;

        width: 30%;
        height: 30%;
        font-weight: 700;
     
    }

}